/* COMMON STYLE ============*/
body,
html {
    font-family: 'Roboto';
    font-size: 14px !important;
}

.h-25px {
    height: 30px !important;
}

.bdr-btm {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.bg-light-green {
    background: #E1EFD7;
}

.bg-blue {
    background: #D7E0EF;
}

.text-green {
    color: #6DAE48;
}

.scrolltop {
    background-color: #0066CD;
}

.scrolltop:hover {
    background-color: #0066CD;
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--highlighted {
    color: #0066CD;
    background-color: rgb(36 93 193 / 6%);
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--selected {
    background-color: #0066CD;
    color: #ffffff;
}

.postLabel {
    background: #DDD7EF;
    border-radius: 15px;
    color: #212121;
    font-weight: 500;
    padding: .322rem 1.586rem;
}

.new-card.cardDetail .svg-icon {
    margin-left: 1px;
}

.new-card.cardDetail .svg-icon svg {
    height: 20px;
    width: 20px;
}

/*====== BUTTON STYLE ======= */
.btn-group-sm>.btn,
.btn-sm {
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
}

.btn-check:active+.btn.btn-primary,
.btn-check:checked+.btn.btn-primary,
.btn.btn-primary.active,
.btn.btn-primary.show,
.btn.btn-primary:active:not(.btn-active),
.btn.btn-primary:focus:not(.btn-active),
.btn.btn-primary:hover:not(.btn-active),
.show>.btn.btn-primary {
    background-color: #0066CD !important;
}

.btn-group-sm>.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon),
.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-sm {
    padding: calc(0.595rem + 1px) calc(1.753rem + 1px);
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {}

.btn {
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.215;
}

.btn.btn-primary {
    color: #ffffff;
    border-color: #245DC1;
    background-color: #245DC1;
}

.btn-outline-primary {
    color: #434343;
    border-color: #245DC1;
}

.btn-outline-default {
    color: #434343;
    border-color: #A0AABC;
}

.btn-outline-default:hover {
    color: #ffffff;
    border-color: #A0AABC;
    background-color: #A0AABC;
}

.btn-outline-default1 {
    color: #434343;
    border-color: #A0AABC;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #245DC1;
    border-color: #245DC1;
}

.btn-link {
    color: #5C6E80;
}

.button-groups-reverse {
    flex-direction: initial;
    justify-content: end;
}

.button-groups-reverse .btn {
    margin-left: 1rem;

}

/*====== FORM STYLE ======= */
.search-circle .form-control.form-control-solid {
    background-color: #F6F7FB;
    border: 1px solid #C8CEE6;
    border-radius: 18px;
    color: #5C6E80;
    font-weight: normal;

}

.search-circle .form-control {
    font-size: 0.875rem;
    padding: 0.56rem 1.929rem;
}

.search-circle {
    position: relative;
}

/*====== USER MENU STYLE ======= */
.menu-state-primary .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.menu-state-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    color: #245dc1;
}

/*====== SIDEBAR MENU STYLE ======= */

.aside-enabled.aside-fixed.header-fixed .header {
    box-shadow: 3px 3px 10px #b7b7b71a;
}

.aside.aside-dark {
    background: transparent linear-gradient(10deg, #3A67AB 0%, #13A090 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #50505029;
}

.aside.aside-dark .aside-logo {
    background-color: transparent !important;
}

.aside-dark .menu .menu-item.show>.menu-link {
    background: #00000038 0% 0% no-repeat padding-box;
}

.aside-dark .menu .menu-item .menu-link .menu-title,
.aside-dark .menu .menu-item .menu-link {
    color: #FFFFFFD9 !important;
}

.aside-dark .menu .menu-item .menu-link {
    color: #FFFFFF !important;
}

.aside-dark .menu .menu-item .menu-link .menu-bullet .bullet {
    background-color: #FFFFFF !important;
}

.aside-dark .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-arrow:after,
.aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-arrow:after {
    background-image: url('./rightarrow.svg');
}

.aside-dark .menu .menu-item .menu-link .menu-arrow:after,
.aside-dark .menu .menu-item.show>.menu-link .menu-arrow:after {
    background-image: url('./rightarrow.svg');
}

.aside-dark .menu .menu-item:first-child span.menu-link {
    border-top: 1px solid rgba(255, 255, 255, .5) !important;
}

.aside-dark .menu .menu-item:last-child span.menu-link {
    border-top: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
}

.aside-dark .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) {
    background: #00000038 0% 0% no-repeat padding-box !important;
}

.aside-dark .menu .menu-item .menu-link.active {
    background: #00000038 0% 0% no-repeat padding-box !important;
}

.aside-dark .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-bullet .bullet,
.aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-bullet .bullet {
    background-color: #fff !important;
}

.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-inner>.menu-item>.menu-content,
.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-inner>.menu-item>.menu-link,
.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-content,
.aside-menu .menu .menu-sub:not([data-popper-placement])>.menu-item>.menu-link {
    padding-left: calc(2rem + 25px) !important;
}

.menu-sub-accordion.show,
.show:not(.menu-dropdown)>.menu-sub-accordion {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.aside-dark .menu .menu-item:last-child .menu-sub-accordion.show:last-child {
    border-bottom: none;
}

.mobile-icon {
    fill: #ababab;
}

/* isusefull ui */
.emp-status {
    display: flex;
    align-items: center;
}

.emp-status label {
    margin-right: 1rem;
}

.emp-status .textareablock {
    display: flex;
    align-items: center;
}

.emp-status .textareablock textarea {
    margin-right: 1rem;
}

/*====== HEADER STYLE ======= */
/* search bar important */
.search-dropdown {
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border-radius: 0.475rem;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
    animation: menu-sub-dropdown-animation-fade-in .3s ease 1, menu-sub-dropdown-animation-move-up .3s ease 1;
    z-index: 105;
    inset: 70px 0 auto auto;
    margin: 0px;
}

.search-dropdown a:last-child .separator {
    display: none;
}

.head-text {
    color: #7A7A7A;
    font-size: 1.714rem;
    font-weight: bold;
}

.username {
    color: #4C5058;
    font-size: 0;
    font-weight: 500;
    margin-right: 20px;
}

.dropdown.show>.form-control.form-control-solid,
.form-control.form-control-solid.active,
.form-control.form-control-solid.focus,
.form-control.form-control-solid:active,
.form-control.form-control-solid:focus {
    color: #5C6E80;
    border: 1px solid #C8CEE6;
}

/* new-card ==============*/
.new-card .symbol .symbol-label {
    border-radius: 50px;
}

.new-card .postName {
    font-size: 1.286rem;
    color: #393838;
    line-height: 26px;
    -webkit-line-clamp: 1;
}

.new-card .postDT {
    color: #7E7E7E;
    font-size: 1rem;
}

.new-card .postDate {
    color: #3A67AB;
    font-weight: 500;
}

.new-card .postInfo {
    color: #454545;
    font-size: 1.143rem;
    line-height: 1.571rem;
}

.new-card .bg-light-blue {
    background-color: #D7E0EF;
}

.new-card .svg-icon svg {
    height: 19px;
    width: 17px;
}

.new-card .postDetail .emp-info .emp-name {
    color: #212529;
    font-weight: 500;
}

.new-card .postDetail .emp-info .emp-position {
    color: #707070;
    line-height: 20px;
}

.new-card .postDetail .emp-info .emp-status a {
    color: #B7B7B7;
    align-items: center;
    display: flex;
    margin-right: 1rem;
    cursor: default;
}

.new-card .postDetail .emp-info .emp-status a:hover {
    color: #13A090;
}

.new-card .postDetail .emp-info .emp-status a .svg-icon {
    margin-right: 8px;
}

.text-adjustment {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/*for big-lengthy title*/
.title-adjustment {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/*modal preview css starts*/
.modal-css {
    /* position: absolute; */
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background-color: '#eee' !important;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    /* padding: 0px 0px; */
    width: 50%;
    min-height: 200px;
    max-height: 50%;
    display: block;
    /* margin: auto; */
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.modal-csss {
    /* position: absolute; */
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background-color: '#eee' !important;
    /* overflow: auto; */
    border-radius: 4px;
    outline: none;
    /* padding: 0px 0px; */
    width: 25%;
    height: 17%;
    display: block;
    /* margin: auto; */
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.inner-modal {
    min-height: 100%;
}

div.scroll-container {
    overflow: auto;

}

div.scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

div.scroll-container::-webkit-scrollbar {
    width: 12px !important;
    background-color: #000;
}

div.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #000 !important;
}

main::-webkit-scrollbar-thumb,
span::-webkit-scrollbar-thumb,
ol::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background-color: #263626a1 !important;
    border-radius: 10px;

}

/*modal preview css ends*/

.categoryLable {
    border-radius: 0px 6px;
    color: #212121;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.322rem 1.0291rem;
}

.new-card.card .card-body {
    padding: 2.3rem 2.25rem;
}

.new-card.card {
    box-shadow: 0px 1px 15px #45414E14;
    border-radius: 6px;
    height: 100%;
    position: relative;
}

.emp-comment {
    color: #372E2E;
}

.related-post.new-card .postDT {
    flex: 1;
}

/* kbDetails page */
.kbDetail {
    display: flex;
    align-items: flex-start;
}

.kbDetail .cardDetail {
    margin-right: 30px;
    /* flex: 1; */
    flex: 65%;
}

.kbDetail .related-post {
    flex: 35%;
    height: auto;
    max-height: 1082px;
    overflow-y: auto;
}


.footer .copyrightBlock {
    color: #A9A9AA;
}

.copyrightBlock .copy-txt {
    color: #A9A9AA;
}

.toolbar {
    background-color: transparent;
}

#mb-kt_header_nav {
    background-color: #fff;
    padding: 1rem;
}

.ad-search {
    font-size: 1rem;
}

.ad-search:hover {
    color: #0a8b7c !important;
}

.ad-search span svg path {
    fill: #0a8b7c;
}

.search-input {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (min-width:1199px) {
    .username {
        font-size: 1rem;
    }
}

@media (min-width:992px) {
    .header-fixed .header {
        height: 70px;
    }

    .search-input {
        display: flex;
    }

    .ad-search {
        font-size: inherit;
    }

    .aside .aside-logo {
        height: 70px;
    }

    .toolbar-fixed .toolbar {
        position: inherit;
        box-shadow: none;
    }

    .toolbar {
        background-color: transparent;
        margin-bottom: 15px;
    }

    .header-fixed.toolbar-fixed .wrapper {
        padding-top: 65px;
    }

    .header-fixed.toolbar-fixed .toolbar {
        border: none;
    }
}

@media (min-width:768px) {
    .button-groups-reverse {
        flex-direction: row-reverse;
    }
}

@media (max-width:767px) {
    .button-groups-reverse.w-xs-50 .btn {
        min-width: 45%;
        width: 45%;
        margin: 15px auto 0;
    }
}

.table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.tablewidth {
    width: 100%;
}

.table-adjustment {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.Barchart {
    color: #13A090;
}

.linegraph {
    height: 50%;
    width: 40%;
}

.bargraph {
    height: 50%;
    width: 40%;
}

.chart {
    width: 50%;
}

.Button {
    margin: 10px;
}

.top-button {
    margin-top: 15px;
}

.card-break {
    word-break: break-all;
}
.img_responsive img{
    max-width: 100%;
    display: block;
    height: auto;
}
tr.w-nowrap {
    white-space: nowrap;
}
.mixedwidget2-color {
    background-color: #169c92 !important;
}

.mixedwidget2-bodycolor {
    background-color: #1578CF;
}

.card-detail {
    /* height: 100%;
    display: grid; */
    word-break: break-word;
}

.card-detail .detail-text {
    min-height: 110px;
    max-height: 110px;
    overflow: hidden;
}

.detail-text img {
    max-width: 80px;
    max-height: 80px;
}

.latest-post .postDetail {
    display: inline-flex;
    /* margin-top: -65px;
    margin-bottom: 40px; */
    margin-top: 15px;
    align-items: flex-end;
}

.table-line-break {
    word-break: break-all;
}

.btn-reject {
    background: #e17474;
    color: #fff;
}

.btn-approve {
    background: #13A090;
    color: #fff;
}

.btn-view {
    background-color: #3A67AB;
    color: #fff;
}

.btn-reject:hover {
    background: #cd4f4f;
    border-color: #cd4f4f;
}

.btn-approve:hover {
    background: #0a8b7c;
    border-color: #0a8b7c;
}

.btn-view:hover {
    background: #29518f;
    border-color: #29518f;
}

.rti--container {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #5e6278;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.475rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rti--tag {
    margin-right: 8px;
    max-width: 100%;
    margin-top: 3px;
}

.rti--tag>span {
    font-size: 85%;
    padding: 3px;
    padding-left: 6px;
    box-sizing: border-box;
    overflow: auto;
}

.breadcrum {
    background-color: #fff;
    padding: 8px 8px;
}

.tag {
    border-radius: 8px;
    color: hsl(206, 100%, 52%);
    background-color: hsl(205, 46%, 92%);
}

.Search_By {
    padding: 8px 10px;
    border-radius: 5px;
    /* border: 1px solid  */
    border-color: #A0AABC;
    ;
}

.Search_By * {
    background-color: rgba(255, 255, 255, .5);
    padding: 8px 5px;
    margin: 8px 8px;
}

.tc-width {
    width: 100%;
}

.new-card a:hover {
    color: #3498db !important;
}

.search-dropdown a:hover {
    color: #3498db !important;
}

.symbol img {
    border-radius: 50%;

}

.rti--input {
    width: 100%;
}

/* a:focus{
    outline:1px solid #000 ;
}
.menu-item a:focus{
    outline:1px solid #000 ;
} */
/* Modal css */
.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, 0.19);
    backdrop-filter: blur(6px);
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    z-index: 999;
}

.modal__align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__content {
    width: 800px;
    height: auto;
    /* box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
	  0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
	  0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
	  0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888); */
    border-radius: 20px;
    background: transparent;
    color: #000;
    position: relative;
    margin: 0rem 4rem;
}

.modal__close {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    width: 32px;
    height: 32px;
    padding: 0;
    top: 10px;
    right: 10px;
}

.modal__video-align {
    width: 500px;
    height: 278px;
    padding: 18px;
    position: relative;
    bottom: 37px;
    background-color: #fff;
}

.modal__video-align .bg-grey {
    height: 88%;
    padding: 10px;
    /* margin-top: 67px;
    margin-left: 87%; */
    background-color: #eee;
}

.modal__video-align select#filterSearch,
.modal__video-align select#categoryA {
    margin: -4px 8px;
    padding: 7px;
}

.modal__video-align .bg-grey button {
    margin: 10px 8px;
    margin-top: 67px;
    /* margin-left: 87%; */
}

.modal__video-style {
    border-radius: 20px;
    z-index: 100;
}

.modal__spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__spinner {
    animation: spin 2s linear infinite;
    font-size: 40px;
    color: #1b6aae;
}

.bg-grey h5 {
    font-size: 16px !important;
}

#kt_addpost_form .css-3w2yfm-ValueContainer {
    padding: 0.60rem 1rem;
}

#kt_addpost_form .css-13cymwt-control {
    border-color: #e4e6ef;
}

.QoQStyle {
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    border-color: #A0AABC;
}

.QoQYear {
    padding: 8px 10px;
    border-radius: 5px;
    border-color: #A0AABC;
    margin-right: 10px;
}

.is-invalid {
    border-color: red !important;
}

.previewbtn {
    display: none;
}
.modal-backdrop{
    background-color: #f5f8fa57 !important;
}

.fa-icon{
    color:#0066CD;
}
.save-button{
    right: 30px;
    bottom: 10px;
    position: absolute;
}

.sketch-picker{
    width: 60% !important;
}

